.Menu {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  margin-bottom: var(--space-md);
}

.Menu__link a {
  display: block;
  padding: var(--space-md);
  background-color: var(--color-dark-2);
  margin-right: var(--space-sm);
  text-decoration: none;
}

.Menu__link a.active {
  background-color: var(--color-dark-3);
}
