.gif {
  position: relative;
  width: 100%;
  margin-bottom: var(--space-lg);
}

.gif__img {
  display: block;
  width: 100%;
}

.gif__title {
  position: absolute;
  bottom: var(--space-sm);
  display: block;
  padding: var(--space-sm);
  margin-top: var(--space-sm);
  font-size: var(--font-size-sm);
  background-color: var(--color-light-1);
}
