:root {
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;

  --font-size-sm: 0.75rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.25rem;

  --color-dark-1: #1b1b1b;
  --color-light-1: #808080;
}

body {
  background-color: var(--color-dark-1);
  color: var(--color-light-1);
}

a {
  color: var(--color-light-1);
}

.App-content {
  max-width: 940px;
  margin: 0 auto;
  padding: var(--space-lg);
  min-height: 100vh;
}

