:root {
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;

  --font-size-sm: 0.75rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.25rem;

  --gif-width: 248px;
  --page-width: 1040px;

  --color-primary: #944b9e;

  --color-dark-1: #080808;
  --color-dark-2: #1b1b1b;
  --color-dark-3: #2c2c2c;
  --color-dark-4: #3b3b3b;

  --color-light-1: #ffffff;
  --color-light-2: #808080;
}

body {
  background-color: var(--color-dark-2);
  color: var(--color-light-2);
}

a {
  color: var(--color-light-2);
}

a.active {
  text-decoration: none;
  color: white;
}

.App-content {
  max-width: var(--page-width);
  margin: 0 auto;
  padding: var(--space-lg);
  min-height: 100vh;
}

